nav {
    background: rgb(1, 6, 34);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #212F3C, #212F3C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #212F3C, #212F3C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    text-decoration: none;
}
.bg{
    background-color: #283747;
}
.jumbotron{
    background-color: #2E4053;
    color: whitesmoke;
    font-family: consolas;
}

.footer{
    color: whitesmoke;
    background-color: #212F3C;
    padding-top: 15px;
    font-family: consolas;
    padding-bottom: 30px;
}

.footer-a{
    color: whitesmoke;
}

.padding-left{
    padding-left: 30px;
}